Repository Terraform-GUI/terraform-gui, changes with the labels that .github/labeler.yml gives for each.
All labels: symfony, js, docker, terraform, dev, ops, cicd, doc

add(project): GET endpoints /api/projects and /api/projects/{id} added
  api/src/Controller/Api/ProjectController.php
  api/src/Document/Embed/Node.php
  api/src/Document/Embed/NodeData.php
  api/src/Document/Embed/NodeDataResource.php
  api/src/Document/Embed/NodeDataResourceArgument.php
  api/src/Document/Embed/NodePosition.php
  api/src/Document/Project.php
  api/src/Security/ProjectVoter.php
Labels: symfony

add(terraform): #14 - impl
  deploy/terraform/.gitignore
  deploy/terraform/.terraform.lock.hcl
  deploy/terraform/outputs.tf
  deploy/terraform/provider.tf
  deploy/terraform/variables.tf
Labels: terraform, ops

add(terraform): #14 - graph
  deploy/terraform/graph.md
  deploy/terraform/graph.svg
Labels: ops, doc

add(terraform): #14 - vpc impl
  deploy/terraform/vpc.tf
Labels: terraform, ops

add(terraform): #14 - ec2 impl
  deploy/terraform/ec2.tf
Labels: terraform, ops

add(terraform): #14 - s3 impl
  deploy/terraform/s3.tf
Labels: terraform, ops

add(api): #10 - add welcome email
  api/src/Controller/UserController.php
Labels: symfony

add(api): #10 - add symfony/mailer
  api/.env
  api/composer.json
  api/composer.lock
  api/config/bundles.php
  api/config/packages/mailer.yaml
  api/symfony.lock
Labels: symfony, js

add(api): #10 - add welcome email
  api/src/Controller/UserController.php
Labels: symfony

upd(api): #3 - update grumphp config
  Makefile
  api/grumphp.yml
Labels: symfony

add(mail): #10 - added mailcatcher for local smtp server
  docker-compose.yml
Labels: docker

add(api): #10 - added default email from + reset token expiration
  api/.env
Labels: symfony

add(api): #10 - added default email from
  api/src/Controller/UserController.php
Labels: symfony

add(api): #10 - added password reset & forgot routes
  api/src/Controller/SecurityController.php
Labels: symfony

add(api): #10 - added PasswordRecoveryRequest Document
  api/src/Document/PasswordRecoveryRequest.php
Labels: symfony

add(api): #10 - added password reset & forgot forms
  api/src/Form/UserPasswordForgetType.php
  api/src/Form/UserPasswordResetType.php
Labels: symfony

del(api): #10 - delete unused file
  api/src/Entity/.gitignore
Labels: symfony

add(api): #10 - Add user repository
  api/src/Repository/UserRepository.php
Labels: symfony

del(ap): #11 - removed wrong comment
  api/src/Client/Github.php
Labels: symfony

.github/labeler.yml:

# languages
symfony:
  - "api/**/*"
  - "composer.*"
  - "symfony.*"
js:
  - "web/**/*"
  - "**/*.js"
  - "**/*.json"
  - "**/*.vue"
docker:
  - "**/Dockerfile"
  - "**/Dockerfile.*"
  - "**/docker-compose.*"
terraform:
  - "terraform/**/*"
  - "tf/**/*"
  - "**/*.tf"

# scope
dev:
  - "cmd/**/*"
  - "config/**/*"
  - "internal/**/*"
  - "pkg/**/*"
  - "web/**/*"
ops:
  - "build/**/*"
  - "deploy/**/*"
  - "scripts/**/*"
cicd:
  - ".github/**/*.yml"
doc:
  - "**/*.md"
  - "**/*.txt"
  - "assets/**/*"
