Repository Terraform-GUI/terraform-gui, pull requests merged in 2022-10, with the labels that each got.

#8 feat_users-crud
  api/.env
  api/src/Controller/Api/UserController.php
  api/src/Controller/UserController.php
  api/src/Document/EmailUpdateRequest.php
  api/src/Form/UserConfirmEmailType.php
  api/src/Form/UserUpdateEmailType.php
Labels: symfony, [US] user

#34 add(api): #33 - load AWS resources in the database with a command
  api/src/Command/DataFixtures/AwsResourceFixtures.php
  api/src/Command/DataFixtures/LoadDataFixturesCommand.php
  api/src/Command/DataFixtures/UserFixtures.php
  api/src/Command/LoadDataFixturesCommand.php
  api/src/Document/Embed/ResourceArgument.php
  api/tests/Unit/Document/Embed/ResourceArgumentTest.php
Labels: symfony

#39 fix(setup): #38 symfony CLI install changed and were breaking project
  build/package/api/Dockerfile
Labels: docker, ops

#21 Feat front user
  Makefile
  api/.env
  api/composer.json
  api/composer.lock
  api/config/bundles.php
  api/config/packages/nelmio_cors.yaml
  api/symfony.lock
  web/package-lock.json
  web/package.json
  web/src/api/ApiClient.tsx
  web/src/api/ResponseTypes.tsx
  web/src/api/UserService.tsx
  web/src/api/index.tsx
  web/src/contexts/UserContext.tsx
  web/src/contexts/UserContextProvider.tsx
  web/src/index.tsx
  web/src/pages/ConfirmUserMailPage/index.css
  web/src/pages/ConfirmUserMailPage/index.tsx
  web/src/pages/HomePage/index.css
  web/src/pages/HomePage/index.tsx
  web/src/pages/LoginPage/index.css
  web/src/pages/LoginPage/index.tsx
  web/src/pages/RegisterPage/index.css
  web/src/pages/RegisterPage/index.tsx
  web/src/services/isLoggedIn.tsx
Labels: symfony, js, dev, [US] user

#47 Web/feature/fill nodes
  web/src/components/CodeEditor/index.tsx
  web/src/components/ResourceNode/Argument/index.tsx
  web/src/components/ResourceNode/index.css
  web/src/components/ResourceNode/index.tsx
  web/src/components/ResourceSidebar/index.test.tsx
  web/src/components/ResourceSidebar/index.tsx
  web/src/components/SchemaUI/index.tsx
  web/src/components/Toolbar/ProjectTools/ChangeProject.tsx
  web/src/components/Toolbar/ProjectTools/CreateProject.tsx
  web/src/components/Toolbar/ProjectTools/DeleteProject.tsx
  web/src/components/Toolbar/ProjectTools/index.tsx
  web/src/components/Toolbar/ResourceList.tsx/index.tsx
  web/src/components/Toolbar/SaveProject/index.tsx
  web/src/components/Toolbar/index.tsx
  web/src/contexts/ProjectContext.ts
  web/src/contexts/ResourcesContext.ts
  web/src/interfaces/IArgumentNodeData.ts
  web/src/interfaces/IProject.ts
  web/src/interfaces/IResource.ts
  web/src/interfaces/IResourceNodeData.ts
  web/src/interfaces/ISavedArgumentNodeData.ts
  web/src/interfaces/ISavedProject.ts
  web/src/interfaces/ISavedResourceNodeData.ts
  web/src/interfaces/Project.ts
  web/src/interfaces/ResourceNodeData.ts
  web/src/pages/BuilderPage/index.tsx
  web/src/services/ReactFlowTransformer.ts
Labels: js, dev, [US] user

#48 Feature/web/display description
  web/src/components/Description/index.tsx
  web/src/components/ResourceNode/Argument/index.tsx
  web/src/components/ResourceNode/index.tsx
  web/src/components/SchemaUI/index.tsx
  web/src/components/Toolbar/ResourceList.tsx/index.tsx
  web/src/components/Toolbar/SaveProject/index.tsx
  web/src/components/Toolbar/index.tsx
  web/src/pages/BuilderPage/index.tsx
Labels: js, dev

#25 Feature/project handling
  .gitignore
  api/composer.json
  api/composer.lock
  api/config/bundles.php
  api/config/packages/twig.yaml
  api/src/Controller/Api/ProjectController.php
  api/src/DTO/TerraformBlock/Aws/AbstractResource.php
  api/src/DTO/TerraformBlock/Aws/Ec2Resource.php
  api/src/DTO/TerraformBlock/Aws/RdsResource.php
  api/src/DTO/TerraformBlock/Aws/S3Resource.php
  api/src/DTO/TerraformBlock/Aws/SqsResource.php
  api/src/DTO/TerraformBlock/Aws/VpcResource.php
  api/src/DTO/TerraformBlock/ProviderBase.php
  api/src/DTO/TerraformBlock/TerraformBlockInterface.php
  api/src/DTO/TerraformTemplate.php
  api/src/Document/Embed/Edge.php
  api/src/Document/Embed/Node.php
  api/src/Document/Embed/NodeData.php
  api/src/Document/Embed/NodeDataResource.php
  api/src/Document/Embed/NodeDataResourceArgument.php
  api/src/Document/Embed/NodePosition.php
  api/src/Document/Project.php
  api/src/Factory/TerraformBlockFactory.php
  api/src/Factory/TerraformTemplateFactory.php
  api/src/Form/EdgeEditionType.php
  api/src/Form/NodeDataEditionType.php
  api/src/Form/NodeDataResourceArgumentEditionType.php
  api/src/Form/NodeDataResourceEditionType.php
  api/src/Form/NodeEditionType.php
  api/src/Form/NodePositionEditionType.php
  api/src/Form/ProjectEditionType.php
  api/src/Security/ProjectVoter.php
  api/src/Service/TerraformService.php
  api/src/Service/TerraformTemplatesRenderer.php
  api/src/Utils/StringManipulator.php
  api/symfony.lock
  api/templates/terraform/aws/outputs/aws_ec2.txt.twig
  api/templates/terraform/aws/outputs/aws_rds.txt.twig
  api/templates/terraform/aws/outputs/aws_s3.txt.twig
  api/templates/terraform/aws/outputs/aws_sqs.txt.twig
  api/templates/terraform/aws/outputs/aws_vpc.txt.twig
  api/templates/terraform/aws/resources/aws_ec2.txt.twig
  api/templates/terraform/aws/resources/aws_rds.txt.twig
  api/templates/terraform/aws/resources/aws_s3.txt.twig
  api/templates/terraform/aws/resources/aws_sqs.txt.twig
  api/templates/terraform/aws/resources/aws_vpc.txt.twig
  api/templates/terraform/aws/variables/aws_ec2.txt.twig
  api/templates/terraform/aws/variables/aws_rds.txt.twig
  api/templates/terraform/aws/variables/aws_s3.txt.twig
  api/templates/terraform/aws/variables/aws_sqs.txt.twig
  api/templates/terraform/aws/variables/aws_vpc.txt.twig
  api/templates/terraform/global_variable.txt.twig
  api/templates/terraform/providers.txt.twig
Labels: symfony, js, [US] user

#51 feat: Terraform samples
  .github/workflows/api.cd.yml
  Makefile
  build/package/api/Dockerfile
  build/package/api/Dockerfile.dev
  build/package/api/Dockerfile.prod
  samples/.gitignore
  samples/.terraform.lock.hcl
  samples/ec2.tf
  samples/graph.md
  samples/graph.svg
  samples/outputs.tf
  samples/provider.tf
  samples/rds.tf
  samples/s3.tf
  samples/sqs.tf
  samples/variables.tf
  samples/vpc.tf
Labels: feat, docker, terraform, ops, cicd, doc

#50 Feature/web/userInformationsHandling
  api/config/packages/lexik_jwt_authentication.yaml
  api/src/Controller/SecurityController.php
  web/src/api/ApiClient.tsx
  web/src/api/ResponseTypes.tsx
  web/src/api/UserService.tsx
  web/src/api/index.tsx
  web/src/components/Profile/Email/index.css
  web/src/components/Profile/Email/index.tsx
  web/src/contexts/UserContextProvider.tsx
  web/src/index.tsx
  web/src/pages/ForgotPasswordPage/index.css
  web/src/pages/ForgotPasswordPage/index.tsx
  web/src/pages/HomePage/index.tsx
  web/src/pages/LoginPage/index.tsx
  web/src/pages/ProfilePage/index.css
  web/src/pages/ProfilePage/index.tsx
  web/src/pages/ResetPasswordPage/index.css
  web/src/pages/ResetPasswordPage/index.tsx
Labels: symfony, js, dev

#52 projects and resources api sync
  api/src/Controller/Api/ProjectController.php
  web/src/api/ProjectService.tsx
  web/src/api/ResourceService.tsx
  web/src/api/ResponseTypes.tsx
  web/src/api/index.tsx
  web/src/components/CodeEditor/index.tsx
  web/src/components/Description/index.tsx
  web/src/components/ResourceNode/index.tsx
  web/src/components/ResourceSidebar/index.test.tsx
  web/src/components/ResourceSidebar/index.tsx
  web/src/components/SchemaUI/index.tsx
  web/src/components/Toolbar/ProjectTools/ChangeProject.tsx
  web/src/components/Toolbar/ProjectTools/CreateProject.tsx
  web/src/components/Toolbar/ProjectTools/DeleteProject.tsx
  web/src/components/Toolbar/ProjectTools/index.tsx
  web/src/components/Toolbar/SaveProject/index.tsx
  web/src/components/Toolbar/index.tsx
  web/src/interfaces/INodeData.ts
  web/src/interfaces/IProject.ts
  web/src/interfaces/ISavedNodeData.ts
  web/src/interfaces/ISavedProject.ts
  web/src/pages/BuilderPage/index.tsx
  web/src/pages/LoginPage/index.tsx
  web/src/services/ReactFlowTransformer.ts
Labels: symfony, js, dev

#53 feat(web): #49 - delete project with api
  web/src/api/ProjectService.tsx
  web/src/api/ResponseTypes.tsx
  web/src/components/Toolbar/ProjectTools/DeleteProject.tsx
  web/src/services/ReactFlowTransformer.ts
Labels: js, dev

#54 add(user) - add `$user->setToken(null)` on command creation
  api/src/Command/UserCreateCommand.php
Labels: symfony

#56 fix(fixtures): #55 - users loaded by fixtures are now automatically v…
  api/src/Command/DataFixtures/UserFixtures.php
Labels: symfony

#57 fix(front): #49 - allowing blob response
  web/src/api/ApiClient.tsx
  web/src/api/ProjectService.tsx
Labels: js, dev

#60 Convert string to snake case not working as expected
  api/src/Utils/StringManipulator.php
Labels: symfony

#59 fix nodes/edges
  api/src/DTO/TerraformBlock/ProviderBase.php
  api/src/Document/Embed/Edge.php
  api/src/Document/Embed/Node.php
  api/src/Document/Project.php
  api/src/Service/TerraformService.php
Labels: symfony

#62 upd(front): restricting front routes
  web/src/api/index.tsx
  web/src/index.tsx
Labels: js, dev

#63 upd(front): enabling github connection
  api/.env
  web/src/api/ApiClient.tsx
  web/src/api/ProjectService.tsx
  web/src/api/ResponseTypes.tsx
  web/src/api/UserService.tsx
  web/src/index.tsx
  web/src/pages/ForgotPasswordPage/index.tsx
  web/src/pages/LoginPage/index.tsx
Labels: js, dev

#61 fix | feat (web): #49 - linking features to back end
  api/src/Command/DataFixtures/AwsResourceFixtures.php
  api/src/Document/Embed/Edge.php
  api/src/Factory/TerraformBlockFactory.php
  api/src/Form/EdgeEditionType.php
  web/package-lock.json
  web/package.json
  web/src/api/ProjectService.tsx
  web/src/api/ResponseTypes.tsx
  web/src/api/index.tsx
  web/src/components/CodeEditor/index.tsx
  web/src/components/ConfirmDialog/index.tsx
  web/src/components/SchemaUI/index.tsx
  web/src/components/Toolbar/ExportProject/index.tsx
  web/src/components/Toolbar/ProjectTools/ChangeProject.tsx
  web/src/components/Toolbar/ProjectTools/CreateProject.tsx
  web/src/components/Toolbar/ProjectTools/DeleteProject.tsx
  web/src/components/Toolbar/ProjectTools/index.tsx
  web/src/components/Toolbar/SaveProject/index.tsx
  web/src/components/Toolbar/index.tsx
  web/src/interfaces/IProject.ts
  web/src/interfaces/ISavedProject.ts
  web/src/pages/BuilderPage/index.tsx
Labels: symfony, js, dev, [US] developer

#65 merge
  api/src/Security/UserChecker.php
  web/src/api/index.tsx
  web/src/index.tsx
Labels: symfony, js, dev

#66 fix(api): #49 - add default value in ec2 arguments
  api/src/Command/DataFixtures/AwsResourceFixtures.php
Labels: symfony

#67 refactor(web): #49 - add resource name in a ReactFlow node id
  web/src/components/SchemaUI/index.tsx
Labels: js, dev

#69 Fix/resources
  api/src/Command/DataFixtures/AwsResourceFixtures.php
  web/src/components/SchemaUI/index.tsx
Labels: symfony, js, dev

#70 refactor(web): change default value of VPC argument in resources fixt…
  api/src/Command/DataFixtures/AwsResourceFixtures.php
Labels: symfony

#71 Feat UI improvements
  Makefile
  api/.gitignore
  web/package.json
  web/public/home.png
  web/src/components/Layout/BaseLayout/index.tsx
  web/src/components/Navigation/Header/index.tsx
  web/src/components/ResourceSidebar/index.tsx
  web/src/components/SchemaUI/index.tsx
  web/src/components/Toolbar/ExportProject/index.tsx
  web/src/components/Toolbar/ProjectTools/ChangeProject.tsx
  web/src/components/Toolbar/ProjectTools/CurrentProject.tsx
  web/src/components/Toolbar/ProjectTools/index.tsx
  web/src/components/Toolbar/SaveProject/index.tsx
  web/src/components/Toolbar/index.tsx
  web/src/index.tsx
  web/src/pages/BuilderPage/index.tsx
  web/src/pages/ConfirmUserMailPage/index.tsx
  web/src/pages/ForgotPasswordPage/index.tsx
  web/src/pages/HomePage/index.css
  web/src/pages/HomePage/index.tsx
  web/src/pages/LoginPage/index.tsx
  web/src/pages/RegisterPage/index.tsx
  web/src/pages/ResetPasswordPage/index.tsx
  web/yarn.lock
Labels: js, dev

#72 Feat UI improvements
  web/src/components/Description/index.tsx
  web/src/components/ResourceSidebar/index.tsx
  web/src/components/SchemaUI/index.tsx
  web/src/components/Toolbar/ResourceList.tsx/index.tsx
  web/src/components/Toolbar/index.tsx
  web/src/pages/BuilderPage/index.tsx
  web/src/pages/HomePage/index.css
Labels: js, dev
