Repository Terraform-GUI/terraform-gui, pull requests merged in 2022-07, with the labels that each got.

#13 Evol/add registration via GitHub
  api/.env
  api/composer.json
  api/composer.lock
  api/src/Client/Github.php
  api/src/Controller/UserController.php
  api/src/Document/User.php
Labels: symfony, js

#18 Evol/add reset password
  Makefile
  api/.env
  api/composer.json
  api/composer.lock
  api/config/bundles.php
  api/config/packages/mailer.yaml
  api/grumphp.yml
  api/src/Controller/SecurityController.php
  api/src/Controller/UserController.php
  api/src/Document/PasswordRecoveryRequest.php
  api/src/Entity/.gitignore
  api/src/Form/UserPasswordForgetType.php
  api/src/Form/UserPasswordResetType.php
  api/symfony.lock
  docker-compose.yml
Labels: symfony, js, docker

#23 feature(front): #22 - drag and drop ressource
  web/package-lock.json
  web/package.json
  web/src/App.css
  web/src/App.test.tsx
  web/src/App.tsx
  web/src/SchemaUI/index.tsx
  web/src/components/App.tsx
  web/src/components/Description/index.css
  web/src/components/Description/index.tsx
  web/src/components/HeaderRessourceBar/index.tsx
  web/src/components/HeaderRessourceBar/ressourceList.tsx
  web/src/components/SchemaUI/index.css
  web/src/components/SchemaUI/index.tsx
  web/src/index.css
  web/src/index.tsx
  web/src/pages/BuilderPage/index.css
  web/src/pages/BuilderPage/index.tsx
Labels: js, dev

#28 add(web): #17 resources sidebar
  web/package-lock.json
  web/src/components/ResourceSidebar/index.test.tsx
  web/src/components/ResourceSidebar/index.tsx
  web/src/components/SchemaUI/index.css
  web/src/components/SchemaUI/index.tsx
  web/src/index.css
  web/src/interfaces/ResourceNodeData.ts
  web/src/pages/BuilderPage/index.css
  web/src/pages/BuilderPage/index.tsx
Labels: js, dev
